# Editors / OS
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# Ignorer les fichiers sensibles
.env
cypress.env.json

# Dossiers d'environnement virtuel
.venv/
venv/

# Fichiers Python temporaires
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Cypress artefacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Fichiers générés
Mon_equipe_covoiturage.pdf